/* h1{
    background-color: rgb(200, 249, 255);
} */
.title{
    background-color: rgb(200, 249, 255);
}
.big{
    font-size: 37px;
}
a:hover{
    color: rgb(255, 91, 86);
}
article p + p{
    margin-top: 30px;
}